.message-img {
    animation: 6s ease-in-out 0s infinite alternate none running moveMsg;
}
@keyframes moveMsg {
    0% {transform: rotate(0deg);} 
    15% {transform: rotate(-15deg);}
    30% {transform: rotate(0deg);}
    45% {transform: rotate(-15deg);}
    60% {transform: rotate(0deg);}
    75% {transform: rotate(-15deg);}
    90% {transform: rotate(0deg);}
	100% {transform: rotate(-15deg);} 
}